<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item1</key>
	<dict>
		<key>name</key>
		<string>Linh Ka Team No 1</string>
		<key>code</key>
		<string>1k3k95idi</string>
		<key>images</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
		</array>
		<key>content</key>
		<string>https://www.facebook.com/linhkafc/
Đ/c: nhà 47 ngõ 260 đường cầu giấy-HN
Thời gian mở cửa các ngày trong tuần: từ 9h-20h 
Shop chuyên bán buôn và bán lẻ thời trang quảng châu.1 tuần update mẫu mới 1 lần,hàng về liên tục,mẫu mã cực teen,hàng siêu độc,đảm bảo chất lượng và màu sắc --&gt; Hàng luôn có sẵn 
1.Khách hàng tại HN:
Đến trực tiếp địa chỉ xem và mua hàng hoặc shop sẽ ship đến nhà(giá ship từ 20k--&gt;30k) 
2.Khách hàng ở các tỉnh khác chuyển khoản vào 1 trong 6 số tk sau:
1: Vietcombank(chi nhánh HN) - Số TK: 00 11 00 2997 130 - chủ tk: Hà Ánh Dương
2: Vietinbank(chi nhánh Ba Đình-HN) - số TK: 711 A 44 60 88 18 - Chủ tk: Hà Ánh Dương
3: Agribank(chi nhánh Từ Liêm-HN) - số TK : 310 020 522 0614 - Chủ tk: Hà Ánh Dương
4:Techcombank(chi nhánh Cầu Giấy-HN) - Số TK: 140 222 833 55019 - Chủ tk: Hà Ánh Dương
5: Ngân hàng BIDV(chi nhánh Tây Hồ-HN)- số TK: 212 100 000 498 94 - Chủ tk: Hà Ánh Dương
6: Ngân hàng ĐÔNG Á (chi nhánh HN)- số TK: 010 115 66 63 - Chủ tk: Hà Ánh Dương 
Trước hoặc sau khi chuyển khoản: báo cho shop: tên+địa chỉ+số đt+mã hàng+số tiền đã chuyển ---&gt; shop sẽ chuyển hàng cho các bạn sau 2-3ngày các bạn nhận được hàng.(khách hàng ở các TP có thể tự trả tiền cước khi nhận hàng,khách hàng ở xã, huyện thì phải chuyển trước tiền cước vận chuyển).
 
CLICK ĐƯỜNG LINK XEM THÊM RẤT NHIỀU MẪU MỚI 
 
wesite:  http://ThoiTrangQuangChau.vn/
 
MỌI CHI TIÊT XIN LIÊN HỆ: (từ :9h---&gt;20h)
Tel: 04.3839.8653 *** Hotline : 0975.949.982
YH: thoi_trang_quang_chau
</string>
	</dict>
	<key>Item2</key>
	<dict>
		<key>name</key>
		<string>Linh Ka Team No 2</string>
		<key>code</key>
		<string>asllk23jkjlsd</string>
		<key>images</key>
		<array>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
			<string>13</string>
			<string>14</string>
			<string>shop2-6</string>
			<string>shop2-7</string>
		</array>
		<key>content</key>
		<string>https://www.facebook.com/linhkafc/</string>
	</dict>
	<key>Item3</key>
	<dict>
		<key>name</key>
		<string>Linh Ka Team No 3</string>
		<key>code</key>
		<string>asdlfkj2l3</string>
		<key>images</key>
		<array>
			<string>13</string>
			<string>shop3-1</string>
			<string>shop3-2</string>
			<string>shop3-3</string>
			<string>shop3-4</string>
			<string>shop3-5</string>
			<string>shop3-6</string>
		</array>
		<key>content</key>
		<string>https://www.facebook.com/linhkafc/</string>
	</dict>
	<key>Item4</key>
	<dict>
		<key>name</key>
		<string>Linh Ka Team No 4</string>
		<key>code</key>
		<string>asdlfk112</string>
		<key>images</key>
		<array>
			<string>14</string>
			<string>shop4-1</string>
			<string>shop4-2</string>
			<string>shop4-3</string>
			<string>shop4-4</string>
			<string>shop4-5</string>
			<string>shop4-6</string>
		</array>
		<key>content</key>
		<string>https://www.facebook.com/linhkafc/</string>
	</dict>
	<key>Item5</key>
	<dict>
		<key>name</key>
		<string>Linh Ka Team No 5</string>
		<key>code</key>
		<string>123lkdasf</string>
		<key>images</key>
		<array>
			<string>15</string>
			<string>shop5-1</string>
			<string>shop5-2</string>
			<string>shop5-3</string>
			<string>shop5-4</string>
			<string>shop5-5</string>
		</array>
		<key>content</key>
		<string>https://www.facebook.com/linhkafc/</string>
	</dict>
	<key>Item6</key>
	<dict>
		<key>name</key>
		<string>Linh Ka Team No 6</string>
		<key>code</key>
		<string>asldk1212</string>
		<key>images</key>
		<array>
			<string>16</string>
			<string>shop6-1</string>
			<string>shop6-2</string>
			<string>shop6-3</string>
			<string>shop6-4</string>
			<string>shop6-5</string>
			<string>shop6-6</string>
		</array>
		<key>content</key>
		<string>https://www.facebook.com/linhkafc/</string>
	</dict>
</dict>
</plist>
